body {
    font-family: "Andale Mono", sans-serif;
    font-size: 9pt;
    margin: 0;
    padding: 0 0 30px 0;
    width: 960px;
    line-height: 1.5;
}
a {
    cursor: pointer;
}
a, a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    background-color: yellow;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}
img {
    margin: 0;
    padding: 0;
}
p {
    margin: 0 0 20pt 0;
}

h1, h2, h3, h4 {
    margin: 0;
    font-size: 9pt;
    font-weight: normal;
}
h1 {
    font-weight: bold;
}
a.active {
    background-color:yellow;
}
#container {
}
#header {
/*  position: fixed;  */
    background-color: white;
    padding-top: 30px;
    top: 0;
    opacity:0.95;
}
#title {
    margin-bottom: 10px;
}
#navigation {
    padding-left: 36px;
}
#navigation > div {
    float: left;
}
#navigation .circle {
    margin-right: 40px;
    width: 20px;
    height: 20px;
	background-color: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    position: relative;
    top: 8px;	
}
#navigation #menu {
    width: 690px;
}
#main {
    margin-top: 200px;
}
.project {
    margin-bottom: 200px;
}
.project .content {
    
}
.gallery, .description {
    float: left;
}
.project .content .gallery {
    margin-right: 35px;
    width: 480px;  
    height: 270px;  
}
.gallery {
    position: relative;
}
.gallery .item {
    display: none;
    position: relative;
    overflow: hidden;
    height: 270px;
    width: 480px;
}
.gallery .item img {
    width: 100%;
    position: absolute;
}
.gallery .controls {
    position: absolute;
    right: 0;
}
.description {
    width: 440px;
    position: relative;
    top: -5px;
}
.col_1 {
    margin-left: 0px;
}
.col_2 {
    padding-left: 167px;
    padding-bottom: 30px;
}
.col_3 {
    margin-left: 240px;
}
.col_4 {
    margin-left: 515px;
}
.clear {
    clear: both;
}