.container {
	padding: 0px 30px 30px;
}

.credits {
	margin-left: 30px;
}

.info {
	position: relative;
}

.media img {
    float: none;
    width: 60%;
    margin: 0 auto;
}

.title {
	font-weight: bold;
}