/*
font-family: 'Abel', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
*/
html,
body {
    margin: 0;
    padding:0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    line-height: 1.5;
    color: black;
}
a {
    cursor: pointer;
    padding-bottom: 0px;
    color: black;
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
    color: black;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}
img {
    margin: 0;
    padding: 0;
}
p {
    margin: 0 0 60px 0;
}

h1, h2, h3, h4 {
    margin: 0;
    font-size: 10pt;
    font-weight: normal;
}
h1 {
    font-weight: bold;
    margin-bottom: 10px;
}
h1 a {
    border-bottom: none;
    text-decoration: none;
}
a.active {
    text-decoration: underline;

}
#container {
    padding: 60px 30px 30px;
    min-width: 900px;
}
.info {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 20px;
    width: 100%;
    padding: 20px 10px;
    opacity: 0.9;
    z-index: 10;
}
.info h1,
.info p {
    display: inline
}
.info .credits {
    margin-left: 60px;
}
.info p#back {
    position: absolute;
    right: 30px;
}
.media {
    width: 100%;
}
.media img {
    width: 49%;
    margin: 0 1% 1% 0;
    float: left;
}
.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
 
.js-video.widescreen {
  padding-bottom: 57.25%;
}
 
.js-video.vimeo {
  padding-top: 0;
}
.js-video embed,
.js-video iframe,
.js-video object, 
.js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
