{% load flatpages %}
{% get_flatpages as flatpages %}
<!DOCTYPE html>
<html>
<head>
    <title>or zubalsky</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Or Zubalsky is a musician, artist, and programmer working in Brooklyn, NY. He is part of the collectives Fantastic Futures and Trade School. He is interested in sound and platforms for exchange. Or uses Python, Django, javascript, PHP, Arduino, electronics, Max/MSP, and Open Frameworks." />
    <meta name="keywords" content="or zubalsky, fantastic futures, sound, performance, django, geodjango, javascript, physical computing" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.css" />
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div id="container">
        {% url 'info' as info_url %}
        {% url 'post-list' as news_url %}
        {% url 'project-list' as projects_url %}        
       
        <div id="header" class="col_2">
            <h1 id="title"><a href="{% url 'home' %}">OR ZUBALSKY</a></h1>
            {% block navigation %}
            <div id="navigation">
                <div class="circle">&nbsp;</div>
                <div id="menu">
                    <a href="{{ info_url }}" {% if request.path == info_url %} class="active"{% endif %}>Info</a> -- 
                    {% for project in projects %}
                        {% url 'project-detail' slug=project.slug as project_url %}
                        <a href="{{ project_url }}" {% if request.path == project_url %} class="active"{% endif %}>{{ project.name }}</a>{% if not forloop.last %} -- {% endif %}
                    {% endfor %}
                    <!--<a href="{{ news_url }}" {% if request.path == news_url %} class="active"{% endif %}>News</a> -- -->
                </div>
            </div>
            {% endblock navigation %}
        </div>
        
        <div id="main">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.js"></script>	
    <script type="text/javascript" src="{{ STATIC_URL }}js/site.js"></script>
    {% block extra_js %}{% endblock %}	
</body>
</html>