{% extends "base.html" %}

{% block title %}{{ block.super }} -- hello{% endblock title %}

{% block content %}

<div class="project">
    <p class="info col_4">
        <a target="_blank" href="mailto:orzubalsky@gmail.com">orzubalsky@gmail.com</a><br />
        <a target="_blank" href="https://github.com/orzubalsky">github</a><br />
        <a target="_blank" href="http://orzubalsky.com/static/uploads/cv_07_2013.pdf">cv</a>
    </p>
    
    <div class="content col_1">
        <div class="gallery">
        </div>

        <div class="description" >
        </div>
        
        <div class="clear">&nbsp;</div>
    </div>
</div>
{% endblock content %}