<div class="project">
    <p class="info col_4">
        {% if project.name %}<strong>{{ project.name|title }}</strong><br />{% endif %}
        {% if project.project_time %}{{ project.project_time }}<br />{% endif %}        
        {% if project.medium %}{{ project.medium }}<br />{% endif %}
        {% if project.project_link %}<a href="{{ project.project_link }}" target="_blank">{{ project.project_link }}</a><br />{% endif %}
        {% if project.credits %}{{ project.credits|safe }}<br />{% endif %}        
    </p>
    
    <div class="content col_1">
        <div class="gallery">
            {% for video in project.videos.all %}
                {{ video.media }}
            {% endfor %}
            {% for vimeo in project.vimeos.all %}
                <div class="item">{{ vimeo.media|safe }}</div>
            {% endfor %}
            {% for image in project.images.all %}
                <div class="item"><img src="{{ image.media.url }}" alt="{{ image.media.name }}" /></div>
            {% endfor %}
            {% if project.gallery_items_count > 1 %}
            <div class="controls">
                {% url 'project-detail' slug=project.slug as project_url %}                
                <a class="back" href="{{ project_url }}">back</a>
                <a class="next" href="{{ project_url }}">next</a>
            </div>
            {% endif %}            
        </div>

        <div class="description" >
            {{ project.content|safe }}
        </div>
        
        <div class="clear">&nbsp;</div>
    </div>
</div>