<div class="project">
    <p class="info col_4">
        {% if project.name %}<strong>{{ project.name|title }}</strong><br />{% endif %}
        {% if project.medium %}{{ project.medium }}<br />{% endif %}
        {% if project.credits %}{{ project.credits|safe }}<br />{% endif %}
        {% if project.project_time %}{{ project.project_time }}{% endif %}
        {% if project.project_link %}<a href="{{ project.project_link }}" target="_blank">{{ project.project_link }}</a><br />{% endif %}
        {% if project.source_link %}<a href="{{ project.project_source }}" target="_blank">{{ project.source_link }}</a><br />{% endif %}
    </p>
    
    <div class="content col_1">
        <div class="gallery">
            {% for image in project.images.all %}
                <img src="{{ image.image.url }}" alt="image.name" />
            {% endfor %}
        </div>

        <div class="description" >
            {{ project.content|safe }}
        </div>
        
        <div class="clear">&nbsp;</div>
    </div>
</div>