{% extends "top-bar-layout.html" %}

{% block title %}
Images
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/images.css">
{% endblock extra_css %}


{% block info %}
<h1>OR ZUBALSKY</h1>
<p class="credits">
    Images
</p>
{% endblock info %}

{% block media %}
<div class='item'>
	<img class='image' src="{{ STATIC_URL }}images/how-will-you-write-it-in-a-sentence/01.jpg" />
	<p class='caption'>
		<span class='title'>How Will You Write It in a Sentence? How Will You Sing It?</span><br />
		2016<br />
		2 channel digital video, 6:18
	</p>
</div>

<div class='item'>
	<img class='image' src="{{ STATIC_URL }}images/30.650508-34.779922/01.jpg" />
	<p class='caption'>
		<span class='title'>30.650508, 34.779922, 2012 (draft for an investigation)</span><br />
		2015<br />
		Portable recorder, rock, wall, transducers
	</p>
</div>

<div class='item'>
	<img class='image' src="{{ STATIC_URL }}images/ongoing-listenings/01.jpg" />
	<p class='caption'>
		<span class='title'>The Ongoing Listenings</span><br />
		Collaboration with Hannah Temple<br />
		2015<br />
		Series of conversations facilitated by sound
	</p>
</div>

<div class='item'>
	<img class='image' src="{{ STATIC_URL }}images/suppose-we-rave-a-bit/01.jpg" />
	<p class='caption'>
		<span class='title'>Suppose We Rave a Bit</span><br />
		Collaboration with Christhian Diaz<br />
		2015<br />
		Series of digital videos
	</p>
</div>

<div class='item'>
	<img class='image' src="{{ STATIC_URL }}images/meeting-table/01.jpg" />
	<p class='caption'>
		<span class='title'>Meeting Table</span><br />
		2014<br />
		Drum, electronics, stethoscope
	</p>
</div>

<div class='item'>
	<img class='image' src="{{ STATIC_URL }}images/the-silent-period/01.jpg" />
	<p class='caption'>
		<span class='title'>The Silent Period</span><br />
		Collaboration with Huong Ngo<br />
		2013<br />
		3 channel sound installation, contract
	</p>
</div>

<div class='item'>
	<img class='image' src="{{ STATIC_URL }}images/through-body-through-earth-through-speech/01.jpg" />
	<p class='caption'>
		<span class='title'>Through Body, Through Earth, Through Speech</span><br />
		Collaboration with Fantastic Futures<br />
		2013<br />
		8 channel sound installation, sod
	</p>
</div>

<div class='item'>
	<img class='image' src="{{ STATIC_URL }}images/the-future-is-fantastic/03.jpg" />
	<p class='caption'>
		<span class='title'>The Future is Fantastic (If You Want It)</span><br />
		Collaboration with Fantastic Futures<br />
		2012<br />
		11 channel sound performance<br />
	</p>
</div>

<div class='item'>
	<img class='image' src="{{ STATIC_URL }}images/the-future-is-fantastic/06.jpg" />
	<p class='caption'>
		<span class='title'>The Future is Fantastic (If You Want It)</span><br />
		Collaboration with Fantastic Futures<br />
		2012<br />
		11 channel sound performance<br />
	</p>
</div>

<div class='item'>
	<img class='image' src="{{ STATIC_URL }}images/fantastic-futures/06.jpg" />
	<p class='caption'>
		<span class='title'>Fantastic Futures</span><br />
		2010-Present<br />
		Online sound archive<br />
	</p>
</div>
{% endblock media %}

{% block extra_js %}
{% endblock extra_js %}