{% extends "top-bar-layout.html" %}

{% block title %}
Meeting Table
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/meeting-table.css">
{% endblock extra_css %}   


{% block info %}
<h1>MEETING TABLE</h1>
<p class="credits">
    Performers: Sable Elyse Smith, Simone Tysone, Sara Jimenez, Bonita Oliver at the Museum of Arts and Design, 2014.
</p>
{% endblock info %}

{% block media %}
<div class="js-video vimeo widescreen">
	<iframe src="//player.vimeo.com/video/106242899" width="1200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<img src="{{ STATIC_URL }}images/meeting-table/01.jpg" />
<img src="{{ STATIC_URL }}images/meeting-table/02.jpg" />

{% endblock media %}

{% block extra_js %} 
{% endblock extra_js %}