{% extends "top-bar-layout.html" %}

{% block title %}
Meeting Table
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/meeting-table.css">
{% endblock extra_css %}


{% block info %}
<h1>MEETING TABLE</h1>
<p class="credits">
    A Poem from 1967 That Makes Me Think About My Mother, Christhian Diaz at the Museum of Arts and Design, 2014.
</p>
{% endblock info %}

{% block media %}
<div class="js-video vimeo widescreen">
	<iframe src="//player.vimeo.com/video/136986184" width="1200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

{% endblock media %}

{% block extra_js %}
{% endblock extra_js %}