{% extends "top-bar-layout.html" %}

{% block title %}
The Future Is Fantastic (If You Want It)
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}/css/the-future-is-fantastic.css">
{% endblock extra_css %}   


{% block info %}
<h1>THE FUTURE IS FANTASTIC (IF YOU WANT IT)</h1>
<p class="credits">
    Collaboration with <a href="http://fantasticfutures.fm">Fantastic Futures</a>, performed at The New Museum, 2012.
</p>
<p id="player">
    
</p>
{% endblock info %}

{% block media %}
<img src="{{ STATIC_URL }}images/the-future-is-fantastic/01.jpg" />
<img src="{{ STATIC_URL }}images/the-future-is-fantastic/02.jpg" />
<img src="{{ STATIC_URL }}images/the-future-is-fantastic/03.jpg" />
<img src="{{ STATIC_URL }}images/the-future-is-fantastic/04.jpg" />
<img src="{{ STATIC_URL }}images/the-future-is-fantastic/05.jpg" />
<img src="{{ STATIC_URL }}images/the-future-is-fantastic/06.jpg" />                
{% endblock media %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function()
    {
        $("#player").jPlayer(
        {
            ready: function ()
            {
                $(this).jPlayer("setMedia",
                {
                    title: "The Future is Fantatic (If You Want It)",
                    m4a: "{{ STATIC_URL }}audio/the-future-is-fantastic.mp3",
                }).jPlayer("play");
            },
            swfPath: "{{ STATIC_URL }}js",
            supplied: "m4a"
        });
    });
</script>    
{% endblock extra_js %}