@import 'base';

.header {
  margin: 0 0 4rem;
  position: relative;
}

.header__info {
  position: absolute;
  right: 0;
  padding: 1rem 0 0 0;
  top: 0;

  span, a {
    border-right: 1px solid;
    padding: 0 1rem 0 1rem;

    &:last-child {
      padding: 0 0 0 1rem;
      border-right: none;
    }
  }
}

.header__toggle-nav {
  position: fixed;
  right: 0.2rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  background: rgba(255,255,255,0.5);
  top: 0rem;
  z-index: 2;
  cursor: pointer;

  i {
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  @include for-tablet-landscape-up {
    right: 0.2rem;
    top: 0.4rem;
  }

  @media print {
    display: none;
  }
}

.header__nav {
  display: none;
  padding: 1rem;
  position: fixed;
  background: rgba(250,250,250,0.97);
  width: 100%;
  top: 0;
  z-index: 1;

  @include for-tablet-portrait-up {
    padding: 1rem 2rem;
  }

  @include for-tablet-landscape-up {
    display: block;
    height: 100%;
    right: -100%;
    top: 0;
    padding: 5rem 2rem;
    position: fixed;
    width: 22%;
    min-width: 22rem;
    transition: all 0.2s;
  }

  @media print {
    display: none;
  }
}

.header__nav,
.nav__header {
  font-size: 0.8rem;
}

.header--open {
  .header__nav {
    @include for-phone-only {
      display: block;
    }

    @include for-tablet-landscape-up {
      right: 0;
    }
  }

  .header__toggle-nav {
    background: transparent;
    opacity: 0.7;
  }
}

.nav__header {
  margin: 0;
}

.nav__item {

}

.sublist {
  padding: 0 0 0 2rem;
  margin: 0 0 1rem 0;
}

.sublist__item {
  &:hover {
    list-style-type: disc;

    a {
      font-weight: 100;
    }
  }
}

.sublist__item--active {
  list-style-type: disc;
}

.main {
  padding: 1rem;

  @include for-tablet-portrait-up {
    padding: 1rem 2rem;
  }

  @include for-tablet-landscape-up {
    width: 100%;
    padding: 5rem 4rem 1rem 3rem;
  }
}
