{% extends "base.html" %}

{% load tagged_projects_link %}

{% block title %}{{ block.super }}{% endblock title %}

{% block content %}

{% url 'project-detail' slug='fantastic-futures' as fantastic_futures_url %}
{% url 'project-detail' slug='trade-school' as tradeschool_url %}
{% url 'project-detail' slug='sound-objects' as sound_objects_url %}
{% url 'project-detail' slug='our-choices-rhyme' as juviley_url %}

<div id="info">
    <p>
		Or Zubalsky is an artist, musician, and programmer living in Brooklyn, NY. His work and collaborations have been supported by The New Museum, The Museum of Art and Design, Queens Museum of Art, Rhizome, Eyebeam, ILAND, Smack Mellon, Culture Push, Vox Populi, and Sheila C. Johnson Design Center. He presented his collaborations and projects at TedX, College Art Association, CUNY Grad Center, ArtsTech, and Maker Faire.
    </p>
    <p>
        <a target="_blank" href="http://orzubalsky.com/static/uploads/cv_orzubalsky_06_2014.pdf">CV</a>.<br />
        <a target="_blank" href="mailto:orzubalsky@gmail.com">orzubalsky@gmail.com</a>.<br />
        All code for the projects is open source and available on <a target="_blank" href="https://github.com/orzubalsky">github</a>.
    </p>
</div>
{% endblock content %}